<h2>Doctor Log in</h2>

<%= form_for :session, url: doctors_sessions_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Log in", class: 'button-17' %>
  </div>
<% end %>
