<h1><%= @patient.first_name %>'s Dashboard</h1>
<div>
  <table>
  <caption><h2>Appointments</h2></caption>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
    </tr>
  </thead>

  <tbody>
    <% if @appointments.present? %>
      <% @appointments.each do |appointment| %>
        <tr class="<%= 'past-appointment' if appointment.appointment_date < Date.today %>">
          <td><%= appointment.doctor.full_name %></td>
          <td><%= appointment.appointment_date.strftime("%m-%d-%Y") %></td>
          <td><%= appointment.appointment_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">No Appointments Found</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
