<table>
  <thead>
    <tr>
      <th>Basic Patient Information</th>
    </tr>
  </thead>
</table>
<table>
  <tr>
    <td>First Name:</td>
    <td><%= @patient.first_name %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= @patient.last_name %></td>
  </tr>
  <tr>
    <td>Date of Birth:</td>
    <td><%= @patient.date_of_birth %></td>
  </tr>
</table>

<h2>Currently Used Medications</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <% @current_medications.each do |medication| %>
      <tr>
        <td><%= medication.medication.brand_name %></td>
        <td><%= medication.expiration_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Expired Medications</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <% @expired_medications.each do |medication| %>
      <tr>
        <td><%= medication.medication.brand_name %></td>
        <td><%= medication.expiration_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Previous Chronic Diagnoses</h2>
<table>
  <thead>
    <tr>
      <th>Diagnosis Name</th>
      <th>Date Diagnosed</th>
    </tr>
  </thead>
  <tbody>
    <% @chronic_diagnoses.each do |patient_diagnosis| %>
      <tr>
        <td><%= patient_diagnosis.diagnosis.name %></td>
        <td><%= patient_diagnosis.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_for @patient_diagnosis, url: diagnostic_form_path(@patient), method: :post do |form| %>
  <div class="field">
    <%= form.label :complaint, 'Complaint' %>
    <%= form.text_area :complaint, name: 'patient_diagnosis[complaint]' %>
  </div>
  
  <div class="field">
    <%= form.label :diagnosis_id %>
    <%= form.collection_select :diagnosis_id, Diagnosis.all, :id, :name, {}, {name: 'patient_diagnosis[diagnosis_id]'} %>
  </div>
  <%= form.hidden_field :patient_id, value: @patient.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

