<caption><h2>Basic Patient Information</h2></caption>
<table class="dashboard-table">
  <tr>
    <td>First Name:</td>
    <td><%= @patient.first_name %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= @patient.last_name %></td>
  </tr>
  <tr>
    <td>Date of Birth:</td>
    <td><%= @patient.date_of_birth.strftime("%m-%d-%Y") %></td>
  </tr>
</table>

<caption><h2>Currently Used Medications</h2></caption>
<table class="dashboard-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prescription Valid Until</th>
    </tr>
  </thead>
  <tbody>
    <% if @current_medications.present? %>
      <% @current_medications.each do |medication| %>
        <tr>
          <td><%= medication.medication.brand_name %></td>
          <td><%= medication.expiration_date.strftime("%m-%d-%Y") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No Current Medications Found</td>
      </tr>
    <% end %>
  </tbody>
</table>

<caption><h2>Expired Medications</h2></caption>
<table class="dashboard-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prescription Valid Until</th>
    </tr>
  </thead>
  <tbody>
    <% if @expired_medications.present? %>
      <% @expired_medications.each do |medication| %>
        <tr>
          <td><%= medication.medication.brand_name %></td>
          <td><%= medication.expiration_date.strftime("%m-%d-%Y") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No Expired Medications Found</td>
      </tr>
    <% end %>
  </tbody>
</table>

<caption><h2>Previous Chronic Diagnoses</h2></caption>
<table class="dashboard-table">
  <thead>
    <tr>
      <th>Diagnosis Name</th>
      <th>Date Diagnosed</th>
    </tr>
  </thead>
  <tbody>
    <% if @chronic_diagnoses.present? %>
      <% @chronic_diagnoses.each do |patient_diagnosis| %>
        <tr>
          <td><%= patient_diagnosis.diagnosis.name %></td>
          <td><%= patient_diagnosis.created_at.to_date.strftime("%m-%d-%Y") %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No Chronic Diagnoses Found</td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= form_for @patient_diagnosis, url: diagnostic_form_path(@patient), method: :post do |form| %>
  <!-- PatientDiagnosis fields -->
  <div class="field">
    <%= form.label :complaint, 'Complaint' %>
    <%= form.text_area :complaint, name: 'patient_diagnosis[complaint]' %>
  </div>

  <div class="field">
    <%= form.label :diagnosis_id %>
    <%= form.collection_select :diagnosis_id, Diagnosis.all, :id, :name, {}, {name: 'patient_diagnosis[diagnosis_id]'} %>
  </div>
  <%= form.hidden_field :patient_id, value: @patient.id %>

  <%= fields_for :patient_medication do |med_form| %>
    <div class="field">
      <%= med_form.label :medication_id, 'Choose medication:' %>
      <%= med_form.collection_select :medication_id, @medications, :id, lambda { |med| "#{med.brand_name} - #{med.dosage}" } %>
    </div>

    <div class="field">
      <%= med_form.label :expiration_date, 'Medication Expiration Date:' %>
      <%= med_form.date_field :expiration_date %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>


