<h1>AI Scheduler</h1>
<p>
  Patient: <%= @patient.first_name %> <%= @patient.last_name %><br>
  Diagnosis: <%= @patient_diagnosis.diagnosis.name %><br>
  AI Suggested Appointment date: <%= @suggested_date %>
</p>

<%= form_for @ai_scheduler, url: confirm_schedule_patient_diagnosis_path(@patient_diagnosis), method: :post do |f| %>
  <div class="field">
    <%= f.label :date, 'Confirm or Change Appointment Date' %>
    <%= f.date_field :date, value: @suggested_date, required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Confirm Appointment Date' %>
  </div>
<% end %>
