<%= form_for([@patient, @appointment]) do |f| %>
  <%= f.label :doctor_id, "Choose a doctor:" %>
  <%= f.collection_select(:doctor_id, @doctors, :id, :full_name, prompt: "Select a doctor") %>

  <%= f.label :appointment_date, "Choose a date for your appointment:" %>
  <%= f.date_field :appointment_date %>
  <div class="auto-jsCalendar"></div>
  <%= f.label :appointment_time, "Choose a time for your appointment:" %>
  <%= f.select :appointment_time, time_slots, {}, prompt: "Select a time" %>
  
  <%= f.submit "Create Appointment" %>
<% end %>
