<header>
  <h1>CanPulse</h1>
</header>

<nav>
  <a href="<%= root_path %>">CanPulse</a>

  <ul>
    <li class="dropdown">
      Patients
      <ul>
        <li><%= link_to 'Login', new_patients_session_path %></li>
        <li><%= link_to 'Sign Up', new_patients_registration_path %></li>
      </ul>
    </li>
    <li class="dropdown">
      Doctors
      <ul>
        <li><%= link_to 'Login', new_doctors_session_path %></li>
        <li><%= link_to 'Sign Up', new_doctors_registration_path %></li>
      </ul>
    </li>
  </ul>
</nav>
